{% extends "app/base.html" %}
{% load static %}

{% block title %}Iniciar Sesión{% endblock title %}

{% block main-content %}
 

<div style="font-family: 'Times New Roman', Times, serif;" class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h3>Confirmación de contraseña completada</h3>
            <hr>
           
        </div>
    </div>
</div>


{% endblock main-content %}