{% extends "app/base.html" %}
{% load static %}

{% block title %}Cambiar contraseña{% endblock title %}

{% block main-content %}

<div style="font-family: 'Times New Roman', Times, serif;" class="container my-5">
    <div class="row">
        <h3>Bienvenido {{request.user.username|capfirst}}</h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid">
                    <a href="{% url 'profile' %}" class="btn btn-primary">Cambio de contraseña hecho</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-1 text-center">
            <br>
            <br>
            <hr>
            <br>
            <h3>Cambio de contraseña satisfactorio.</h3>
            <br>
            <hr>
            <br>
        </div>

    </div>
</div>



{% endblock main-content %}