{% extends "app/base.html" %}
{% load static %}

{% block title %}Buscar{% endblock title %}

{% block main-content %}

<div style="font-family: 'Times New Roman', Times, serif;" class="container my-5">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                {% if product %}
                    {% for prod in product %}
                        <div class="col sm-4 text-center mb-4 hover-shadow">
                            <a href="{% url 'product-detail' prod.id %}" class="btn">
                                <div>
                                    <img src="{{prod.product_image.url}}" width="300px" height="200px"/>
                                    <div class="fw-bold">Producto: {{prod.title}}</div>
                                    <div class="fw-bold">Precio original: $ {{prod.selling_price}} </div>
                                    <div class="fw-bold text-danger">Rebaja: $ {{prod.discounted_price}}</div>
                                </div>
                            </a>
                        </div>  
                    {% endfor %}
                {% else %}
                    <div style="font-size: 115px;" class="col sm-4 text-center mb-4 hover-shadow">
                        <p style="margin:0">No hay productos disponibles.</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock main-content %}
